body {
    font-family: "Jost", Arial, sans-serif;
    font-style: normal;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-title-container {
    position: absolute;
    font-size: 14vw;
    font-family: "Bungee Outline";
}

.background-title-container p {
    transform: translateY(-5%);
    user-select: none;
    text-decoration: none;
    /* color: #d48e00; */
}


.analysis-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 80vh;
    max-height: 80vh;
    padding: 20px;
    background-color: #121212;
    border: 3px solid #d48e00;
    border-radius: 30px;
    z-index: 10;
    box-shadow: 0 0 0 10px #121212;
    /* 模擬外層白色邊框 */
    overflow: visible;
    position: relative;
}

.music-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px;
}

.your-music {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.upload-section {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d48e00;
    border-radius: 50px;
    margin-right: 15px;
    margin-left: auto;
}

.upload-section a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.scroll-wrapper {
    display: flex;
    height: 100%;
    overflow-y: auto;
    justify-content: space-evenly
}

.scroll-wrapper::-webkit-scrollbar {
    width: 8px;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #d48e00;
    border-radius: 30px;
}

.scroll-wrapper::-webkit-scrollbar-track {
    background-color: #121212;
    border-radius: 30px;
}

.similar-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 80%;
    overflow: hidden;
}

.similar-music {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.music-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.thumbnail-placeholder {
    width: 180px;
    height: 100px;
    background-color: #cccccc;
    border-radius: 10px;
}

.thumbnail-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.music-control {
    margin-right: 15px;
    margin-left: auto;
}

.music-info {
    font-size: 1rem;
    line-height: 1.5;
}

.music-info a {
    color: #d48e00;
    text-decoration: none;
}

.music-info a:hover {
    text-decoration: underline;
}