{% extends "preload.html" %}

{% block title %}
Result
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/Analyze/css/analyze.css">
{% endblock css %}

{% block js %}
<script src="/static/Analyze/js/analyze.js" async defer></script>
{% endblock js %}

{% block body %}
<div class="background-title-container">
    <p>ECHO SENCE</p>
</div>
<div class="analysis-container">
    <div class="music-section">
        <h2>YOUR MUSIC:</h2>
        <div class="your-music">
            <div class="music-placeholder"></div>
        </div>
    </div>

    <div class="similar-section">
        <h2>SIMILAR MUSIC:</h2>
        <div class="similar-music">
            <!-- <div class="music-item">
                <div class="thumbnail-placeholder"></div>
                <div class="music-info">
                    <p><strong>MUSIC NAME</strong></p>
                    <p>ARTIST</p>
                    <p>URL: <a href="https://www.youtube.com/" target="_blank">https://www.youtube.com/</a></p>
                </div>
            </div>

            <div class="music-item">
                <div class="thumbnail-placeholder"></div>
                <div class="music-info">
                    <p><strong>MUSIC NAME</strong></p>
                    <p>ARTIST</p>
                    <p>URL: <a href="https://www.youtube.com/" target="_blank">https://www.youtube.com/</a></p>
                </div>
            </div>

            <div class="music-item">
                <div class="thumbnail-placeholder"></div>
                <div class="music-info">
                    <p><strong>MUSIC NAME</strong></p>
                    <p>ARTIST</p>
                    <p>URL: <a href="https://www.youtube.com/" target="_blank">https://www.youtube.com/</a></p>
                </div>
            </div> -->
        </div>
    </div>
</div>


{% endblock body %}